.pedro{
    background-color: orange;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
    color:black;
}

.henrique{
border-style: ridge
text-align:center;
background-color: orange;

}

.mena{
    background-color:;
    text-align:center;
    font-size:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    color: rgb(226, 7, 175);
}


.vida {
    background-color:orange ;
    color: orangered;
    border-style:;
}

